# Compiled objects and binaries.
*~
*.so
*.pyc
*.inv
*.pickle
*.doctree
build/
__pycache__/
docs/.buildinfo

# Ignore common temporary files.
.DS_Store
*\~
.directory

# Ignore mypy's temporary files.
.mypy_cache/

# Ignore git version description file, uploaded to the camera for display in the about panel, UI Version string.
git_description