[Unit]
Description=Control interface for the Chronos Camera
After=chronos-fpga.service chronos-pwrutil.service chronos-video.service
Requires=chronos-fpga.service chronos-pwrutil.service

[Service]
Type=dbus
ExecStart=/usr/bin/cam_control
BusName=ca.krontech.chronos.control
RestartForceExitStatus=SIGHUP
StandardOutput=journal+console
StandardError=inherit

[Install]
WantedBy=multi-user.target
