[Unit]
Description=Control interface for the Chronos Camera
After=chronos-fpga.service
Requires=chronos-fpga.service

[Service]
Type=dbus
ExecStart=/usr/bin/cam-control
BusName=com.krontech.chronos.control
StandardOutput=journal+console
StandardError=inherit

[Install]
WantedBy=multi-user.target
