Source: pychronos
Section: misc
Priority: optional
Maintainer: Owen Kirby <oskirby@gmail.com>
Build-Depends: debhelper (>= 9), dh-exec,
                dh-systemd (>= 1.5), dh-python,
		python-all, python-dev, python-setuptools,
		python3-all, python3-dev, python3-setuptools
Standards-Version: 3.9.8
Homepage: https://github.com/krontech/pychronos
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.4
#Vcs-Git: https://github.com/krontech/pychronos.git
#Testsuite: autopkgtest-pkg-python

Package: python3-pychronos
Architecture: armel
Depends: ${python3:Depends}, ${misc:Depends},
         python3-numpy
Suggests: python-pychronos-doc
Description: Python bindings for the Chronos High Speed Camera  (Python 3)
 Python bindings for the Chronos High Speed Camera
 .
 This package installs the library for Python 3.

Package: python-pychronos-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Description: Python bindings for the Chronos High Speed Camera (common documentation)
 Documentation for the python bindings to the Chronos High Speed Camera
 .
 This is the common documentation package.

Package: chronos-control
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
        python3-pychronos, python3-dbus, python3-gobject,
        chronos-fpga, chronos-pwrutil, chronos-video
Suggests: python-pychronos-doc
Description: Control daemon for the Chronos High Speed Camera

Package: chronos-webbridge
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
        python3-pychronos, python3-twisted, python3-txdbus,
        chronos-control, chronos-video
Suggests: python-pychronos-doc
Description: D-Bus web bridge for the Chronos High Speed Camera
